.home {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
}
.home-text {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text {
  font-size: 64px;
  margin: 2rem;
}
.sub-text {
  font-size: 24px;
}
.home-img {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-text {
  height: 312px;
  width: 247px;
  background-image: url("../assets/Portfolio\ Logo.png");
}
