@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  scroll-behavior: smooth;
}
.section-tag {
  height: 25px;
  width: 143px;
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: solid 2px #fff;
  border-radius: 0 0 25px 25px;
  font-size: 16px;
  font-family: "Arvo", serif;
}

.fade-in {
  opacity: 1;
  transition: opacity 900ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
