@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
}
.section-tag {
  position: absolute;
  height: 20px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 16px;
  border: solid 2px black;
  border-radius: 0 0 15px 15px;
  top: 0;
  left: 20px;
  font-family: "Arvo", serif;
}
