.navBar {
  height: 40px;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 40px;
  aspect-ratio: 1;
  background-color: black;
}
.nav-links {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
