.project-card-wrapper {
  position: relative;
  height: 275px;
  width: 250px;
  margin: 1rem;
  border: solid 2px #fff;
  border-radius: 25px;
  overflow: hidden;
}
.card-content {
  height: 100%;
  width: 100%;
  position: relative;
}
.project-header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 7, 111, 0.3);
}
.project-image {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(214, 120, 136, 0.1);
  background-size: cover;
  background-position: center;
}
.project-tags {
  height: 10%;
  width: 100%;
  bottom: 15%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 7, 111, 0.5);
  border: solid 2px #fff;
}
.project-buttons {
  height: 10%;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.demo-link,
.github-link {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
}
.demo-link {
  background-color: rgba(229, 78, 208, 0.5);
}
.github-link {
  background-color: rgba(0, 7, 111, 0.5);
}
.demo-link:hover {
  background-color: rgba(229, 78, 208, 0.8);
  color: #fff;
  font-weight: bold;
}
.github-link:hover {
  background-color: rgba(0, 7, 111, 0.8);
  color: #fff;
  font-weight: bold;
}
