.project-wrapper {
  position: relative;
  height: 300px;
  width: 250px;
  border: solid 2px black;
  margin: 1rem;
}
.project-header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
.project-image {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 120, 136);
}
.project-tags {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 90, 114);
}
.project-buttons {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 21, 55);
}
