.projects {
  position: relative;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.project-main-wrapper {
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}
